<!DOCTYPE html>
<html lang="en" style="background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1440x900.jpg');">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packify - Nuestro Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="icon" href="../img/log.png">
    <script src="https://kit.fontawesome.com/e7dc23b135.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
   
</head>
<body>
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="../index.html">
          <img src="../img/log.png" alt="#">
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="nav_btn" href="#">
            Sobre Nosotros
          </a>
            <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="../views/about-us.html">
              ¿Quienes somos?
            </a>
            <a class="navbar-item" href="../php/formulario.php">
              Solicitar Demo
            </a>
          </div>
        </div>




      </div>
  
      <div class="navbar-end">
       <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
            </p>
            <p class="control">
              <a class="button is-primary" href="./php/formulario.php">
                <span class="icon">
                  <i class="fa-solid fa-address-book"></i>
                </span>
                <span>¿Tienes Dudas? Contactanos.</span>
                </a>
              </p>
            </div>
          </div>
       </div>
     </div>
  </nav>
    <br><br>
    <header>
    
        <h1 class="title is-2 has-text has-text-centered">Acerca de Packify <img src="../img/log.png" style="width: 40px;"></h1>
        
    </header>

    <br><br>
    <center>
    <main>
        <h3 class="title is-5 has-text">¿Qué es Packify?</h3>
        <h3 class="subtitle is-5 has-text">Packify es una aplicación de gestión de datos de Packing y producción.</h3>
        
        <br>

        <h3 class="title is-4 has-text">¿Cuál es su objetivo?</h3>
        <h3 class="subtitle is-5 has-text">Su objetivo consiste en poner fin a la problemática de los registros que se suelen perder al terminar una jornada, y al mismo tiempo reducir el gasto de hojas 
                                  con el fin de cuidar al medioambiente.</h3>

        <br>

        <h3 class="title is-4 has-text">¿Cómo se llevará a cabo?</h3>
        <h3 class="subtitle is-5 has-text">Para ponerle fin a esta problemática, la aplicación utiliza la conexión a base de datos para almacenar 
                                  con mayor facilidad los registros del día a día en un packing con el objetivo de almacenar los registros 
                                  sin que haya posibilidad alguna de que estos se pierdan.</h3>

    </main>

  </center>
    

    
    <br><br>
        <footer class="footer has-background-primary-dark">
      <div class="footer-final">
        <h4>Donde Estamos?</h4>
        <h5>Region: O'Higgins</h5>
        <h5>Comuna: Rancagua</h5>
        <h5>Direccion: C. Cuevas 70</h5>

      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;<br>




      <div class="footer-final">
        <p >
          <strong class="pack">Packify</strong> by Grupo7
          
          <h4>Todos los Derechos Reservados ©</h4>
          
        </p>

      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <div class="footer-final">
       <h4>Soporte</h4>
          <h5>Correo: Grupo7@gmail.com</h5>
          <h5>Telefono: +569587423</h5>
          <h5>Atencion: 24/7</h5>
     
   
      </div>

      <div class="footer-final">
        <h4 class="Redes-Sociales">Redes Sociales</h4>
         <a href="https://www.instagram.com/aiep_rancagua/?hl=es-la" class="ig"><i class="fa-brands fa-instagram"> Instagram</i></a>
         <br>
         <a href="https://www.facebook.com/TvOhiggins" class="face"><i class="fa-brands fa-facebook"> Facebook</i></a>
         <br>
        <a href="https://twitter.com/elonmusk" class="twi"><i class="fa-brands fa-twitter"> Twitter</i></a>

      </div>



      
      </div>


      
    </footer>

</body>
</html>