<!DOCTYPE html>
<html lang="en" style="background-image: url('https://images.hdqwalls.com/download/minimalist-landscape-to-1440x900.jpg');">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packify - ¿Quienes somos?</title>
    <link rel="stylesheet" href="../css/about.css">
    <script src="https://kit.fontawesome.com/e7dc23b135.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <nav class="navbar is-transparent">
            <div class="navbar-start">
                <a class="navbar-item" href="../index.html">                
                  <figure >
                  <img src="../img/Packify_Logo.png"/>
                  </figure>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link" href="#">
                    Sobre Nosotros
                  </a>
                    <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="about-us.html">
                      ¿Quienes somos?
                    </a>
                    <a class="navbar-item" href="about.html">
                      Nuestro Producto
                    </a>
                    <a class="navbar-item" href="#">
                      Caracteristicas y especificaciones
                    </a>
                  </div>
                </div>
        </div>
      </nav>
    <header>
    
        <h1 class="title is-1 has-text-centered has-text">¿Quienes Somos?</h1>
        <br>
        <h3 class="subtitle is-5 has-text-justified has-text">Somos un grupo de estudiantes de AIEP en Rancagua que busca desarrollar no solamente aplicaciones que logren resolver una problemática dada, sino que también proyectos aparte como videojuegos y todo lo relacionado a esto.</h3>
        
    </header>

    <br><br>
    <main>
        <h3 class="title is-4 has-text">¿Cómo se originó nuestra idea?</h3>
        <h3 class="subtitle is-5 has-text-justified has-text">Nuestra idea se originó durante el primer semestre del año 2022 en AIEP, no teníamos una base para comenzar con el proyecto de título y durante un trabajo de Análisis de Sistemas se nos ocurrió una idea aparte para un trabajo, 
            esta idea sería una aplicación que permita facilitar el gestionamiento de packings, poco después de esto nos dimos cuenta de lo útil que sería esta idea si se aplica correctamente.</h3>
        
        <br>

        <h3 class="title is-4 has-text-white">¿Qué sigue después?</h3>
        <h3 class="subtitle is-5 has-text-justified has-text">Si este producto logra cumplir las expectativas deseadas (o incluso más) tenemos pensado no solo continuar desarrollando futuros proyectos, 
            sino que también agregar mejoras para este mismo con el paso del tiempo, todo con el fin de que la experiencia del cliente sea más satisfactoria.
        </h3>
        
        <br>

        
    </main>

    <br><br>
        <footer class="footer has-background-primary-dark">
      <div class="footer-final">
        <h4>Donde Estamos?</h4>
        <h5>Region: O'Higgins</h5>
        <h5>Comuna: Rancagua</h5>
        <h5>Direccion: C. Cuevas 70</h5>

      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;;<br>




      <div class="footer-final">
        <p >
          <strong class="pack">Packify</strong> by <img src="../Imagenes/grupo7.png" width="189px" height="150px">
          Grupo 7
          
          <h4>Todos los Derechos Reservados ©</h4>
          
        </p>

      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <div class="footer-final">
       <h4>Soporte</h4>
          <h5>Correo: Grupo7@gmail.com</h5>
          <h5>Telefono: +569587423</h5>
          <h5>Atencion: 24/7</h5>
     
   
      </div>

      <div class="footer-final">
        <h4 class="Redes-Sociales">Redes Sociales</h4>
         <a href="https://www.instagram.com/aiep_rancagua/?hl=es-la" class="ig"><i class="fa-brands fa-instagram"> Instagram</i></a>
         <br>
         <a href="https://www.facebook.com/TvOhiggins" class="face"><i class="fa-brands fa-facebook"> Facebook</i></a>
         <br>
        <a href="https://twitter.com/elonmusk" class="twi"><i class="fa-brands fa-twitter"> Twitter</i></a>

      </div>



      
      </div>


      
    </footer>

    

    
    
</body>
</html>