<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PackitApp - ¿Quienes somos?</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

    <header>
    
        <h1 class="title is-1">¿Quienes Somos?</h1>
        <br>
        <h3 class="subtitle is-5">Somos un grupo de estudiantes de AIEP en Rancagua que busca desarrollar no solamente aplicaciones que logren resolver una problemática dada, sino que también proyectos aparte como videojuegos y todo lo relacionado a esto.</h3>
        
    </header>

    <br><br>
    <main>
        <h3 class="title is-4">¿Cómo se originó nuestra idea?</h3>
        <h3 class="subtitle is-5">Nuestra idea se originó durante el primer semestre del año 2022 en AIEP, no teníamos una base para comenzar con el proyecto de título y durante un trabajo de Análisis de Sistemas se nos ocurrió una idea aparte para un trabajo, 
            esta idea sería una aplicación que permita facilitar el gestionamiento de packings, poco después de esto nos dimos cuenta de lo útil que sería esta idea si se aplica correctamente.</h3>
        
        <br>

        <h3 class="title is-4">¿Qué sigue después?</h3>
        <h3 class="subtitle is-5">Si este producto logra cumplir las expectativas deseadas (o incluso más) tenemos pensado no solo continuar desarrollando futuros proyectos, 
            sino que también agregar mejoras para este mismo con el paso del tiempo, todo con el fin de que la experiencia del cliente sea más satisfactoria.
        </h3>
        
        <br>

        
    </main>

    <br><br>

    <footer>
        <a href="../index.html" class="button is-link">Regresar</a>
    </footer>
    
</body>
</html>