<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PackItApp - Términos y condiciones</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://kit.fontawesome.com/e7dc23b135.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <center>

    <header>
    
        <h1 class="title is-1">Términos y condiciones de PackItApp</h1>
        
    </header>

    <br><br>
    <main>
        <h3 class="title is-5">1. Introducción</h3><!--RELLENO-->
        <h3 class="subtitle is-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam corporis, atque illum corrupti esse assumenda eveniet ipsam repudiandae non quam.</h3>
        
        <br>

        <h3 class="title is-5">2. El servicio que proporcionamos</h3><!--RELLENO-->
        <h3 class="subtitle is-6">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, sed unde rem vel ut quod eius perferendis accusantium sunt laudantium, ea facere deleniti quibusdam! Nostrum, 
            architecto consectetur. Error, laborum officia. Unde illo molestias nisi voluptate numquam aperiam ab officiis odit culpa quas deserunt ipsam, alias perspiciatis esse dolor dicta magnam quis necessitatibus! 
            Error quam officia, ad dicta suscipit quo molestias illum voluptatibus tenetur tempore eligendi. 
            Accusantium voluptates perferendis rerum aut quod? Ullam, amet perspiciatis. Dolorum fugiat aliquid, odit blanditiis rem aliquam repellendus inventore et aut officia eum consectetur ad. Ipsum.</h3>

        <br>

        <h3 class="title is-5">3.Uso de servicio de PackItApp</h3> <!--RELLENO-->
        <h3 class="subtitle is-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum harum nesciunt suscipit deleniti tempore quibusdam quas dolor adipisci, pariatur illo nulla, 
            qui asperiores expedita distinctio et quis. Sunt eius ullam nisi. Obcaecati earum cum, ex eaque voluptatum ad cupiditate, ea sequi ut error officia odit doloremque numquam amet 
            quam hic quibusdam labore tempore temporibus porro natus iusto? Repellat error officia, placeat, cupiditate quisquam fugiat laudantium recusandae illum natus 
            aspernatur hic, ipsa velit pariatur nihil architecto deserunt veritatis eius sequi quaerat necessitatibus! 
            Reiciendis magni praesentium necessitatibus nulla? Non, perferendis doloremque nisi rerum iusto voluptas 
            commodi deleniti velit laudantium inventore consequatur fuga!</h3>
        
    </main>
    <br><br>
    <a href="../php/formulario.php" class="button is-link">Regresar</a>

    <br><br>
    <br><br>
        <footer class="footer has-background-primary-dark">
      <div class="footer-final">
        <h4>Donde Estamos?</h4>
        <h5>Region: O'Higgins</h5>
        <h5>Comuna: Rancagua</h5>
        <h5>Direccion: C. Cuevas 70</h5>

      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;;<br>




      <div class="footer-final">
        <p >
          <strong class="pack">PackItApp</strong> by <a href="#"></a>
          Grupo 7
          
          <h4>Todos los Derechos Reservados ©</h4>
          
        </p>

      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;

      <div class="footer-final">
       <h4>Soporte</h4>
          <h5>Correo: Grupo7@gmail.com</h5>
          <h5>Telefono: +569587423</h5>
          <h5>Atencion: 24/7</h5>
     
   
      </div>

      <div class="footer-final">
        <h4 class="Redes-Sociales">Redes Sociales</h4>
         <a href="https://www.instagram.com/aiep_rancagua/?hl=es-la" class="ig"><i class="fa-brands fa-instagram"> Instagram</i></a>
         <br>
         <a href="https://www.facebook.com/TvOhiggins" class="face"><i class="fa-brands fa-facebook"> Facebook</i></a>
         <br>
        <a href="https://twitter.com/elonmusk" class="twi"><i class="fa-brands fa-twitter"> Twitter</i></a>

      </div>



      
      </div>


      
    </footer>

  </center>

</body>
</html>